// 暫時先這樣處理，下次再調整變數 XD

.fs-7 { font-size: .75rem };

.font-dancing-script {

  font-family: 'Dancing Script', sans-serif;

}

.pre-wrap { white-space: pre-wrap; }

.text-description {

  white-space: pre-wrap;
  font-size: 1rem; line-height: 2;

}

.nav-link.active { 
  
  color: #AB3B3A;
  font-weight: 700;

}